<template>
    <v-container grid-list-md text-xs-center >
        <v-layout row wrap>
            <v-flex xs12 class="main-top-heading">
                <h2 class="feature-heading">Presentations</h2>
            </v-flex>
            <v-flex sm6 class="tools-ppt">
                <img src="img/healthy_body.png" alt="Healthy Body">
                <v-btn color="primary" href="https://s3.us-east-2.amazonaws.com/eraofecom1/healthy_body.pptx" download>Download Now</v-btn>
            </v-flex>
            <v-flex sm6 class="tools-ppt">
                <img src="img/healthy_mindset.png" alt="Healthy Mindset">
                <v-btn color="primary" href="https://s3.us-east-2.amazonaws.com/eraofecom1/healthy_mind.pptx" download>Download Now</v-btn> 
            </v-flex>

            <tools-details :Parenttools="targetTools"></tools-details>

        </v-layout>
    </v-container>
</template>


<script>
    import toolsDetail from '../ui/toolsDetail';
    export default {
        data() {
            return {
                targetTools: 0,
                verifyCanUserAccessProduct: false
            }
        },
        components: {
            'tools-details': toolsDetail
        },
        mounted: function(){
            this.targetTools = parseInt(this.$route.params.p);
        },
        watch: {
            $route() {
                this.targetTools = parseInt(this.$route.params.p);
            }
        },
        method:{


             //ge the training Progress
            verifyAccess: function() {
    
                axios.get('/api/verify/plan/product/' + this.targetProgramId)
    
                    .then(res => {
    
                        if (res.data == true) {
    
                            this.getProductlevels();
    
                            this.getProductName();
    
                            //call the method to get the updated training progress
                            this.trainingProgress();
    
                            this.verifyCanUserAccessProduct = true;
    
                        } else {
    
                            this.verifyCanUserAccessProduct == false;
                           
                            //window.location.href = 'settings#/subscription'
                        }
    
                    })
                    .catch(error => {
    
                    });
    
            }

        }
    }
</script>