<template>
    <v-layout row wrap>
        <v-flex xs5 sm4>
            <h2 class="feature-heading">{{productName}} - Training</h2>
        </v-flex>
        <v-flex xs7 class="progress-section">
            <h6>Level Wise Progress</h6>
            <v-progress-linear  color="success" height="18" v-on:score="assignValue" :value="this.levelProgress">
            </v-progress-linear>
            <p>{{this.levelProgress}}%</p>
        </v-flex>
        <v-flex xs12></v-flex>
        <v-flex xs12 sm3 class="grel-levels">
            <v-expansion-panel expand v-model="panel">
                <v-expansion-panel-content v-for="(level,i) in levelDetails" :key="i">
                    <div class="level-title" slot="header">
                        Level {{i+1}}: {{level.title}}
                        <span class="level-includes">{{level.details}}</span>
                    </div>
                    <v-card class="listed-levels" :class=" 'brokerLevel' + parseInt(i+1) ">
                        <v-card-text>
                            <v-tabs class="section-progress" v-bind:class="{ 'completed': sections.completed }" v-model="level.quizId" hide-slider v-for="(sections,index) in level.sectionDetails" :key="index">
                               <div v-if="!sections.isLocked && !sections.completed">
                                    <a class="v-tabs__item activeQuizAnchor" :href="'#/training/'+ targetProgramId + '/' + sections.quizId">
                                        <span>Section {{(parseInt(i+1)) }}.{{index+1}}:</span>  <span class="activeQuiz">{{sections.sectionTitle}}</span>
                                    </a>
                                </div>

                                <div v-else-if="!sections.isLocked">
                                    <a :class="{ 'activetab': sections.activeSection }" class="v-tabs__item" :href="'#/training/'+ targetProgramId + '/' + sections.quizId">
                                        <span>Section {{(parseInt(i+1)) }}.{{index+1}}:</span> {{sections.sectionTitle}}
                                    </a>
                                </div>
                                <div v-else>
                                    <a :class="{ 'activetab': sections.activeSection }" class="v-tabs__item">
                                        <span>Section {{(parseInt(i+1)) }}.{{index+1}}:</span> {{sections.sectionTitle}} 
                                        <span><v-icon class="lockedQuiz">lock</v-icon></span>
                                    </a>
                                </div>
                            </v-tabs>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-flex>
        <v-flex xs12 sm9 class="main-level-details">
            <training-details :program="targetProgramId" :training="targetQuizId" v-on:mark_complete="markComplete"></training-details>
        </v-flex>
    
    </v-layout>
</template>

<script>
    import trainingDetails from '../ui/trainingDetails';
    export default {
        components: {
            'training-details': trainingDetails
        },
        data() {
            return {
                targetProgramId: '',
                targetQuizId: '',
                isCompleted: false,
                tish: 0,
                levelProgress: 0,
                panel: [true, false, false, false],
                test: '1',
                productName: '',
                levelDetails: '',
                verifyCanUserAccessProduct: false
              
            }
        },
        methods: {
            assignValue: function(a) {
                this.levelProgress = a;
            },
            markComplete: function(section) {
                // ----- finding target Section
                let targetParts = section.split('-')[1].trim();
                let sectionPinter = targetParts.split('.');
                let edge = 4;
                let targetSection = this.levelDetails[sectionPinter[0] - 1].sectionDetails;
                let targetDetail = targetSection[sectionPinter[1] - 1];
    
                let nextSectionPointer = sectionPinter[1] == edge ? parseInt(sectionPinter[0]) + 1 : sectionPinter[0];
                let nextSectionDetailPointer = sectionPinter[1] == edge ? 0 : sectionPinter[1];
                let nextSection = this.levelDetails[nextSectionPointer - 1].sectionDetails;
                let nextDetail = nextSection[nextSectionDetailPointer];
    
                if (sectionPinter[1] == edge) {
                    let newPanel = _.clone(this.panel);
                    newPanel[nextSectionPointer - 1] = true;
                    newPanel[nextSectionPointer - 2] = false;
                    this.panel = newPanel;
                }
    
                targetDetail.completed = true;
                nextDetail.activeSection = true;
                this.levelProgress += 6;
    
                // ----- checking if all are completed
                /*let isIncomplete = false;
                _.forEach(targetSection, function(itm){
                    if (itm.completed == false) {
                        isIncomplete = true;
                        return true;
                    }
                });*/
    
            },
    
            //ge the training Progress
            trainingProgress: function() {
    
                //get product name
                axios.get('/api/product/progress/' + this.targetProgramId)
    
                    .then(res => {
                        this.levelProgress = res.data;
                    })
                    .catch(error => {});
            },
    
            //ge the training Progress
            verifyAccess: function() {
    
                axios.get('/api/verify/plan/product/' + this.targetProgramId)
    
                    .then(res => {
    
                        if (res.data == true) {
    
                            this.getProductlevels();
    
                            this.getProductName();
    
                            //call the method to get the updated training progress
                            this.trainingProgress();
    
                            this.verifyCanUserAccessProduct = true;
    
                        } else {
    
                            this.verifyCanUserAccessProduct == false;
                           
                            //window.location.href = 'settings#/subscription'
                        }
    
                    })
                    .catch(error => {
    
                    });
    
            },
    
    
            // get all the levels of the product
            getProductlevels: function() {
                //get product quizzes details
                axios.get('/api/product/levels/' + this.targetProgramId)
    
                    .then(res => {
                        this.levelDetails = res.data;
                         //console.log(res.data);
                    })
                    .catch(error => {
                        //alert(error)
                    });
            },
    
            //get the product name
            getProductName: function() {
    
                axios.get('/api/product/name/' + this.targetProgramId)
    
                    .then(res => {
                        this.productName = res.data;
                    })
                    .catch(error => {});
    
            }
    
        },
        beforeMount: function() {
    
            this.targetProgramId = parseInt(this.$route.params.p);
            this.targetQuizId = parseInt(this.$route.params.q);

           
            //this.verifyAccess();

            this.getProductlevels();
    
            this.getProductName();

            //call the method to get the updated training progress
            this.trainingProgress();
    
        },
        watch: {
            $route() {
                this.targetProgramId = parseInt(this.$route.params.p);
                this.targetQuizId = parseInt(this.$route.params.q);

                this.getProductlevels();
    
                this.getProductName();

                //call the method to get the updated training progress
                this.trainingProgress();


                //this.verifyAccess();
    
            }
        }
    }
</script>
