<template>
    <div class="right-tabs main-working-area">
        <div>
            <v-alert v-model="quizFailed" dismissible type="warning">
                Sorry! You need to secure atleast 60% to pass this section!
            </v-alert>
        </div>

        <div>
            <v-alert v-model="quizPassed" dismissible type="success">
               Congrats! You have unlocked the next section
            </v-alert>
        </div>

        <div v-if="isUnderFreeTrial && !canAccessQuizUnderFreeTrail"> 
                    
              <v-alert v-show="isUnderFreeTrial && !canAccessQuizUnderFreeTrail" type="error">
                Unlock the rest of the Levels with <v-btn href="/settings#/subscription" color="success">Pro or Master</v-btn>Plans
            </v-alert>

        </div>

        <div v-else>

            <div v-for="(data,parentIndex) in trainingData" :key="parentIndex" v-if="!data.isLocked">
                <div v-if="data.id == firstData">
                    <v-stepper v-model="e6" vertical>
                        <v-stepper-step :complete="e6 > 1" step="1">
                            Watch the video
                            <small>Summarize if needed</small>
                        </v-stepper-step>
        
                        <v-stepper-content step="1">
                            <v-card flat>
                                <v-card-text class="phase-video-part">
                                    <iframe id="video" class="embed-responsive-item" :src="data.vid" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                </v-card-text>
                                <v-card-text>
                                    {{data.phaseContent}}
                                </v-card-text>
                            </v-card>
                            <v-btn v-if="!data.isQuizAlreadyPassed" color="primary" @click="e6 = 2">Take Quiz</v-btn>
                        </v-stepper-content>
                        <v-stepper-step :complete="e6> 2" step="2" v-if="!data.isQuizAlreadyPassed">Quiz - Section {{data.level}}</v-stepper-step>
                        <v-stepper-content step="2">
                            <v-card flat class="listed-questions">
                                <v-card-text class="question-portion" v-for="(questions,index) in data.phaseQuestions" :key="index" v-if="questions.activeQuestion">
                                    <p class="remaining-quest">Question {{index+1}} of 5</p>
                                    <p>{{questions.quest}}</p>
                                    <v-radio-group color="success" :mandatory="false" :name="questions.id + '_inputoption'">
                                        <v-radio @change="update(optns.val,questions.id)" color="primary lighten-1" v-for="(optns,ind) in questions.options" :key="ind" :label="optns.opt" :value="optns.val" class="listed-radios"></v-radio>
                                    </v-radio-group>
                                    <v-btn :disabled="optionSelected" v-show="!questions.lastQuestion" right color="success" @click="nextQuestion(index,parentIndex)">Next Question</v-btn>
                                    <v-btn :disabled="optionSelected" v-show="questions.lastQuestion" color="primary" @click="nextSection(data.id,parentIndex)" to="">Continue To Next Section</v-btn>
                                    <v-btn flat @click="watchAgain(parentIndex)">Watch Again!</v-btn>
                                </v-card-text>
                            </v-card>
                        </v-stepper-content>
                    </v-stepper>
        
        
                </div>
            </div>

        </div>        
    </div>
</template>

<script>
    import trainingData from '../config/trainings.json';
    export default {
        name: 'trainingDetails',
        props: {
            training: {
                type: Number,
                required: true,
            },
            program: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'trainingData': 'Loading...', //trainingData,
                optionSelected: true,
                e6: 1,
                firstData: this.training,
                firstProgram: this.program,
                submittedAnswers: [],
                submittedQuestions: [],
                answers: '',
                questions: '',
                quizFailed: false,
                quizPassed: false,
                isUnderFreeTrial: false,
                canAccessQuizUnderFreeTrail:false
            }
        },
        methods: {
            nextQuestion: function(questionIndex, parentIndex) {
    
                for (var i = 0; i < this.trainingData[parentIndex].phaseQuestions.length; i++) {
                    this.trainingData[parentIndex].phaseQuestions[i].activeQuestion = false;
                }
                var add = questionIndex + 1;
                this.trainingData[parentIndex].phaseQuestions[add].activeQuestion = true;
                this.optionSelected = true;
            },
            update: function(answer, question_id) {
                $('.listed-radios input').attr('checked', 'checked');
                this.optionSelected = false;
    
                this.submittedAnswers.push(answer);
                this.submittedQuestions.push(question_id);
    
            },
            watchAgain: function(parentIndex) {
                for (var i = 0; i < this.trainingData[parentIndex].phaseQuestions.length; i++) {
                    this.trainingData[parentIndex].phaseQuestions[i].activeQuestion = false;
                }
                this.e6 = 1;
                this.trainingData[parentIndex].phaseQuestions[0].activeQuestion = true;
                this.optionSelected = true;
            },
            nextSection: function(topId, parentIndex) {
    
    
                var temp = JSON.stringify(this.submittedAnswers);
                //  temp = temp.replace(/"/g, "'");
    
                 axios
                    .get(
                        "/api/training/section/submit/" +
                        this.firstProgram +
                        "/" +
                        this.firstData +
                        "/" +
                        JSON.stringify(this.submittedQuestions) +
                        "/" +
                        temp
                    )
    
                    .then(res => {
                        if (res.data == true) {
                            // moving the user to the next section
    
                            //this.$emit('mark_complete', topId);
    
                            this.quizPassed = true;
    
                            this.$router.push(
                                "/training/" +
                                this.firstProgram +
                                "/" +
                                this.trainingData[parentIndex].nextSection
                            );
    
                            this.e6 = 1;
                        } else {
                            this.clearingAttempt(); //
    
                            this.quizFailed = true;
    
                            this.e6 = 1;
    
                            this.getTrainingData();
                        }
                    })
                    .catch(error => {
                        // alert(error)
                    });
    
    
            },
            clearingAttempt: function() {
                this.submittedAnswers = []; // clearing the previous attemped answers
                this.submittedQuestions = []; // clearing the previous attemped questions
            },
            getTrainingData: function(){
                
                axios.get('api/product/all/quizzes/' + this.firstProgram)
    
                .then(res => {
                    this.trainingData = res.data
                   // console.log(this.trainingData);
                }).catch(error => {
                    // alert(error)
                });
            },

            //is the user is under free trial which means he hasnt subcribed yet or has cancelled
            UnderFreeTrail: function() {
    
                axios.get('/api/is/under/free/trial')
    
                    .then(res => {
                        
                        this.isUnderFreeTrial = res.data;
                         
                         if(this.isUnderFreeTrial == true){


                                this.CanAccessQuizUnderFreeTrail();

                         }
                    })
                    .catch(error => {});
    
            },

            //can user access the quiz on the free trial
            CanAccessQuizUnderFreeTrail: function(){

                axios.get('/api/can/access/quiz/under/free/trial/' + this.firstData)
    
                    .then(res => {
                        
                        this.canAccessQuizUnderFreeTrail = res.data;
                        
                    })
                    .catch(error => {});

            }   
        },
        mounted: function() {
            // $('.choty-bachy a[href="#/broker-1.1"]').addClass('primary--text v-list__tile--active hello');
            //console.log(this.firstData);
    
        },
        created: function() {
            //console.info(this.firstData, this.trainingData[this.firstData]);
         
        },
        computed: {
            currentQuestion: function() {
                return this.trainingData.phaseQuestions.filter(function(d) {
                    return d.activeQuestion;
                });
            },
        },
        watch: {
            $route ()  {
                

              

                let myString = this.$router.currentRoute.path;
                //console.log(myString);
                let sillyString = myString.substr(13);
                // console.log(sillyString);
                this.firstData = sillyString;
                this.e6 = 1;
                
                this.firstProgram = parseInt(this.$route.params.p);;
                

                this.UnderFreeTrail();


                this.getTrainingData();


    
            }
        },
        beforeMount: function() {
            
            this.UnderFreeTrail();

            this.getTrainingData();
    
        },
    }
</script>